# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright
playwright-report/
test-results/
blob-report/
trace.zip

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
